<div id="checkString">{{checkString}}</div>
{{#if isWhite}}<img src="/chess/styles/down_arrow.jpg" style="width:162px;height:193px" /> {{/if}}
{{#if isBlack}}<img src="/chess/styles/up_arrow.jpg" style="width:162px;height:193px"/> {{/if}}