.square {
    border: 2px solid black;
    background-color: #f5f5f5;
    height: 80px;
    width: 80px;
    float: left;
    position: relative;
}

.colored {
    background-color: #89c32e;
    width: inherit;
    height: inherit;
}

.destination {
    background-color: #c31319;
    height: inherit;
}

#board {
    width: 672px;
    border: 2px solid black;
    overflow: hidden;
    margin-left: 60%;
    margin-right: auto;
}

/*.axis {*/
    /*color: black;*/
/*}*/

/*.axis.x {*/
    /*position: absolute;*/
    /*right: 5px;*/
    /*bottom: 5px;*/
/*}*/
/*.axis.y {*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 5px;*/
/*}*/

.pieceAt {
    position: absolute;
    height: 48px;
    width: 48px;
}

.Blackp {
    height: 100%;
    width: 100%;
    background: url(piece_images/black_pawn.png) no-repeat center;
}
.Blackr {
    height: 100%;
    width: 100%;
    background: url(piece_images/black_rook.png) no-repeat center;
}

.Blackb {
    height: 100%;
    width: 100%;
    background: url(piece_images/black_bishop.png) no-repeat center;
}

.Blackn {
    height: 100%;
    width: 100%;
    background: url(piece_images/black_knight.png) no-repeat center;
}

.Blackk {
    height: 100%;
    width: 100%;
    background: url(piece_images/black_king.png) no-repeat center;
}

.Blackq {
    height: 100%;
    width: 100%;
    background: url(piece_images/black_queen.png) no-repeat center;
}

.Whitep {
    height: 100%;
    width: 100%;
    background: url(piece_images/white_pawn.png) no-repeat center;
}
.Whiter {
    height: 100%;
    width: 100%;
    background: url(piece_images/white_rook.png) no-repeat center;
}

.Whiteb {
    height: 100%;
    width: 100%;
    background: url(piece_images/white_bishop.png) no-repeat center;
}

.Whiten {
    height: 100%;
    width: 100%;
    background: url(piece_images/white_knight.png) no-repeat center;
}

.Whitek {
    height: 100%;
    width: 100%;
    background: url(piece_images/white_king.png) no-repeat center;
}

.Whiteq {
    height: 100%;
    width: 100%;
    background: url(piece_images/white_queen.png) no-repeat center;
}

#gameStatus {
    float: right;
    left: 15%;
    bottom: 38%;
    position: absolute;
}

#buttons {
    position: absolute;
    bottom: 30%;
    left: 21.5%;
}

#app {
    position: absolute;
}



